<div class="container datos_perfil">

    <div class="row">

        <div class="col-sm-4 text-center">


            <div class="con">
                <img src="{{foto_perfil}}" alt="Cinque Terre" class="img_hover_file">
                <div class="overlay" (click)="fileInput.click()">
                    <a  class="icon" >
                      <i>Actualizar Imagen</i>
                    </a>
                </div>

              </div>

            <div class="nombre_perfil">
                <p class="text-uppercase">{{nombre_perfil}}</p>
            </div>
            <p  *ngIf="_message_img"  class="text-center " style="padding: 5px;color: green;font-size: 1em">
                {{message_text_img}}
             </p>
            <input type="file"  #fileInput (change)="detectFiles($event)" hidden accept=".png,.jpg" >
            <button  class="btn btn ds" [disabled]="!selectedFiles" (click)="uploadSingle()">SUBIR FOTO</button>





            <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">MIS DATOS</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">MI CONTRASEÑA</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">MIS SOLICITUDES</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">MIS INMUEBLES</a>
            </div>



        </div>
        <div class="col-sm-8">

            <div class="tab-content perfil_tab" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h3>MIS DATOS</h3>
                    <div class="linea"></div>

                    <form  #formPerfil="ngForm" (submit)="onUpdatePerfilUser()">
                        <div class="form-group row">

                            <label for="nombre_p" class="col-sm-3 col-form-label ">Nombres:</label>
                            <div class="col-sm-7">
                                <input 
                                type="text"
                                #nombre="ngModel"
                                [(ngModel)]="nombre_perfil"
                                name="nombre_perfil"
                                class="form-control input_login" 
                                value="{{nombre_perfil}}" 
                                id="nombre_p" 
                                placeholder="Nombre" minlength="4"
                                pattern="[a-zA-Z ]*"
                                required>
                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" style="color:red;font-size: 13px;">
                             
                                        <div *ngIf="nombre.errors.required">
                                          Nombre es requerido*
                                        </div>
                                        <div *ngIf="nombre.errors.minlength">
                                          Nombre debe contener minimo de 4 digitos*
                                        </div>
                                        <div *ngIf="nombre.errors.pattern">
                                            Nombre debe contener solo letras*
                                        </div>
         
                            </div>
                            </div>

                            

                        </div>

                        <div class="form-group row">
                            <label for="email_p" class="col-sm-3 col-form-label ">E-mail:  </label>
                            <div class="col-sm-7">
                                <input type="email" disabled class="form-control input_login" value="{{email_perfil}}" id="email_p" placeholder="E-mail" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="celular_p" class="col-sm-3 col-form-label ">Teléfono:  </label>
                            <div class="col-sm-7">

                                <input type="text"
                                 #telefono="ngModel"
                                 [(ngModel)]="telefono_perfil"
                                 name="telefono_perfil"
                                 class="form-control input_login"
                                 value="{{telefono_perfil}}"
                                 id="celular_p"
                                 pattern="[0-9]*"
                                 placeholder="Teléfono" minlength="9" maxlength="9"
                                 >

                            <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" style="color:red;font-size: 13px;">
                             
                               
                               <div *ngIf="telefono.errors.minlength || telefono.errors.maxlength">
                                 Telefono debe contener 9 digitos*
                               </div>
                               <div *ngIf="telefono.errors.pattern">
                                Telefono debe contener solo numeros*
                               </div>

                             </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn bg-blul" [disabled] = "!formPerfil.valid">Guardar</button>
                        </div>
                    </form>

                    <p  *ngIf="_message_perfil"  class="text-center " style="padding: 5px;background-color: green;color: white;font-size: 1em">
                      {{message_text_perfil}}
                   </p>



                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h3>MI CONTRASEÑA</h3>
                    <div class="linea"></div>
                    <form>
                        <div class="form-group row">

                            <label for="password_p_actual" class="col-sm-4 col-form-label ">Contraseña actual:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input_login" id="password_p_actual" required>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="password_p" class="col-sm-4 col-form-label ">Contraseña nueva:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input_login" id="password_p" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password_p_2" class="col-sm-4 col-form-label ">Confirmar contraseña:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control input_login" id="password_p_2" required>
                            </div>
                        </div>


                        <div class="text-center">

                            <button type="submit" class="btn bg-blul">Actualizar contraseña</button>
                        </div>
                    </form>
                    <p  *ngIf="_message_contra"  class="text-center " style="padding: 5px;color: green;font-size: 1.5em">
                      {{message_text_contra}}
                   </p>

                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <h3>MIS SOLICITUDES</h3>
                    <div class="linea"></div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <h3>MIS INMUEBLES</h3>
                    <div class="linea"></div>
                </div>
            </div>


        </div>

    </div>

</div>
