
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/bg_home.jpg" class="d-block w-100 imgslide">
                        <div class="carousel-caption  d-md-block">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col  text-right btn_prin">
                                        <h6 class="h6">QUIERES UN INMUEBLE</h6>
                                    </div>
                                    <div class="col  text-left btn_prin">
                                        <h6 class="h6">TIENES UN INMUEBLE</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
            
                </div>
            </div>

<div class="text-publica text-center">

    <h4>Últimas Publicaciones</h4>

</div>



<div class="container mod_pub">


</div>


