/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
    font-family: MyriadPro;
    src: url(assets/fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: volteM;
    src: url(assets/fonts/VolteRounded-Medium.otf);
}

@font-face {
    font-family: volteR;
    src: url(assets/fonts/VolteRounded-Regular.otf);
}

@font-face {
    font-family: volteS;
    src: url(assets/fonts/VolteRounded-Semibold.otf);
}


html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    overflow-x: hidden;
    margin-bottom: 40px;
  }

.navbar {
    padding: 0px;
}

.navbar-brand img {
    margin: 0px;
    padding: 0px;
    height: 45px;
}

.menu-li a {
    font-family: volteM;
    letter-spacing: 0px;
    font-weight: 500;
    color: white !important;
    cursor: pointer;
    font-size: 13px;
    transition: 0.5s;
    width: 100%;
    text-align: center;
}

.menu-li {
    padding: 10px 14px;
    transition: 0.5s;

}

.overlay {
    position: absolute;
    top: 0;
    height: 190px;
    width: 200px;
    padding-top: 90px;
    opacity: 0;
    transition: .3s ease;
    background-color:rgba(153, 153, 153, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }

  .con{
    height: 190px;
    width: 200px;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
  }

  .con:hover .overlay {
    opacity: 1;
  }



  .ds:disabled {

    cursor: not-allowed;
    pointer-events: none;
  }

  .icon {
    color: white !important;
    font-weight: bold;
    text-decoration: none !important;
  }

.dropdown-menu{
  background-color:rgb(24, 52, 207);
  padding: 0px;
}
.dropdown-menu a{
  padding: 12px 48px;
  margin: 0px;
  transition: 0.5s;
}
.dropdown-menu a:hover{
  background-color: rgb(6, 33, 187);
}
.dropdown-menu a.active{
  background-color: rgb(6, 33, 187);
  color:white;
}

.menu-li:hover {
    background-color: rgb(6, 33, 187);
}

.navbar-toggler {
    margin-left: 10px;
}

.menu-li.active {
    background-color: rgb(6, 33, 187);
    border-bottom: 2px solid white;
}

.online {
    color: #00FF00;
    font-weight: bold;
    font-size: 14px;
    font-family: volteM;
    margin: 0px;
    padding: 0px;
}

.menu-li a img {
    margin-right: 10px;
}

.menu-li {
    color: white !important;
}

.bg-bluedark {
    background-color: rgb(24, 52, 207);
}

.carousel-caption {
    background-color: rgb(24, 52, 207);
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    padding: 10px 0px;
    transition: 0.5s;
}

.btn_prin {
    margin: 0px 20px;
    padding: 13px 50px;
    transition: 0.4s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.btn_prin:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.h6 {
    margin-bottom: 0px;
    transition: 0.5s;
    font-family: volteM;
    font-weight: 600;
}

.modal-content {
    border-radius: 0px;
}

.modal-body {
    border: 1px solid rgb(24, 52, 207);
    margin: 5px;
    padding: 10px;
}

.btn_cerrar_modal {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 18px;
    font-family: volteM;
    color: rgb(24, 52, 207) !important;
    font-family: monospace;
    cursor: pointer;
    transition: .5s;
}

.bg-blul {
    background-color: rgb(24, 52, 207);
    border-radius: 0px;
    color: white;
    font-family: volteR;
    padding: 4px;
    font-size: 18px;
    margin-top: 10px;
}

.bg-blul_ingresar {
    background-color: rgb(24, 52, 207);
    border-radius: 0px;
    color: white;
    font-family: volteR;
    padding: 4px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.p_login {
    color: rgb(24, 52, 207);
    text-align: center;
    font-family: volteR;
    font-size: 13px;
    margin-top: 10px;
}

.btn:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(24, 52, 207, 0.9);
}

.a_olvidaste {
    color: rgb(24, 52, 207) !important;
    cursor: pointer;
    font-size: 13px;
}

.a_termino {
    color: rgb(24, 52, 207) !important;
    font-size: 12px;
    line-height: 0px;
}

form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav_lo {
    width: auto;
    color: rgb(24, 52, 207);
    font-family: volteM;
    font-weight: 500;
    font-size: 14px;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 50%;
    text-align: center;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: rgb(24, 52, 207);
    border-color: rgb(24, 52, 207);
}

.nav-tabs {
    border-bottom: 1px solid rgb(24, 52, 207);
}

.input_login {
    border-radius: 0px;
    border-color: rgb(24, 52, 207);
    font-weight: 400;
    color: black;
    transition: 0.5;
  }

  .input_login:focus {
    box-shadow: none;
  }

.input_login::placeholder {
    color: rgb(24, 52, 207);
    opacity: 1;
}

.text-publica {
    background-image: url(assets/img/bg-blue.png);
    height: 100px;
    font-family: volteM;
    color: rgb(24, 52, 207);
}




.text-publica span{
  color: rgb(24, 52, 207);
  transition: 0.5s;
  font-size: 15px;
  position: absolute;
  margin-top: 10px;
}

.text-publica span a{
 text-decoration: none;
 font-size: 16px;
}


.text-publica h4 {
    padding-top: 30px;
    transition: 0.5s;
    text-align: center !important;
}

.mod_pub {
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
    position: absolute;
    width: 100%;
    background-color: #2b2b2b;
    z-index: 0px;

}






.foot_prin {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.text_footer p {
    color: gray;
    font-family: volteM;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    transition: 0.5s;
}

.text_footer span img {
    margin-top: 10px;
}

.text_footer_sec p {
    color: gray;
    font-family: volteM;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    transition: 0.5s;
}

.text_r {
    text-align: right;
}

.datos_perfil {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    transition:0.5s;
}

.datos_perfil button {
    border-color: rgb(24, 52, 207);
    border-radius: 30px;
    font-size: 13px;
    font-family: volteM;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(24, 52, 207);
}

.datos_perfil img {
    border-radius: 50%;
    width: 200px;
    height: 190px;
}

.nombre_perfil {
    margin-top: 10px;
    margin-bottom: 5px;
}

.nombre_perfil p {
    margin: 0px;
    color: rgb(24, 52, 207);
    font-family: volteR;
    font-weight: bold;

}

.datos_perfil .nav-link {
     margin: 5px 10px;
    font-family: volteR;
    font-weight: bold;
    font-size: 14px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    text-align: justify;
    border: 1px solid rgb(24, 52, 207) !important;
    padding-left: 20px;

transition: 0.5s;
}

.datos_perfil .nav-link i {
font-size: 18px;
margin-right: 20px;
transition: 0.5s;
}

.datos_perfil .nav-link.active {
    background-color: rgb(24, 52, 207);
}

.perfil_tab h3 {
    font-family: volteR;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(24, 52, 207);
}

.recuperar{
  padding: 20px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  margin: 20px;
  margin-bottom: 250px;
}
.recuperar p{
  color:black;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 10px 0px;
}

.recuperar h3{
    font-family: volteR;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(24, 52, 207);
    font-size: 20px;
}
.recuperar .linea{

  width: 100%;
  height: 1.5px;
  background-color: rgb(24, 52, 207);

}

.recuperar button {
  padding: 5px 25px;
  color: white;
  font-size: 16px;
}
.perfil_tab .linea {
    width: 100%;
    height: 1.5px;
    background-color: rgb(24, 52, 207);
}

.perfil_tab button {
    padding: 5px 25px;
    color: white;
    font-size: 16px;
}

.perfil_tab input {
    text-align: right;
}

.perfil_tab label {
    color: rgb(24, 52, 207);
    font-family: volteR;
    font-weight: 500;
    transition: .5s;
    text-align: right !important;
    font-size: 16px;
}

.validif{
  color:red;
  font-size: 12px;
  font-family: volteM;
  transition: 12s;
}


.mesage_valid{
 padding: 5px;
 background-color: green;
 color: white !important;
 font-size: 1em;
 font-family: volteM;
}

.mesage_invalid{
  padding: 5px;
  background-color: red;
  color: white !important;
  font-size: 1em;
  font-family: volteM;
 }

 .absolute_pass{
   position: absolute;
   right: -7px;
   top:10px;
   color:rgb(24, 52, 207,0.8);
   cursor: pointer;
 }
 .absolute_login{
  position: absolute;
  right: -20px;
  top:10px;
  color:rgb(24, 52, 207,0.8);
  cursor: pointer;
}

 .adjust{
   padding-left: 0px !important;
   padding-right: 0px !important;
 }

input[type="radio"]:checked .btn-primary  {

  display: none;
  background-color: rgb(24, 52, 207,0.1) !important;
}

input[type="radio"]{
  display: none;
  background-color: white;
}




.style_toggle .btn-primary{
    color: rgb(24, 52, 207) !important;
    background-color:white;
    border-color:  rgb(24, 52, 207) !important;
    border-radius: 0px;
    font-family: volteM;
    font-size: 14px;
    transition: 0.5s;
}

.style_toggle .btn{
  border-radius: 0px;
}


.style_toggle .btn-primary:not(:enabled):not(.enabled).active, .btn-primary:not(:enabled):not(.enabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff !important;
  background-color: rgb(24, 52, 207) !important;
  font-weight: bold;
}


.label_text{
  margin-bottom: 0px;
  margin-top: 7px;
  color: rgb(24, 52, 207) !important;
  font-family: volteR;
  font-size: 13px;
  font-weight: bold;
  padding: 0px;
}
.sm{
  width: 100px;
  display: inline-block;
  height: 34px !important;
    padding: .375rem .75rem;
    margin-left: 5px;
    margin-top: 3px !important;
}
.sm-2{
  width: 100px;
  display: inline-block;

  height: 34px !important;
    padding: .375rem .75rem;
}

.sm-3{
  width: 150px;
  display: inline-block;
  height: 34px !important;
    padding: .375rem .75rem;
}

.sm-4{
  height: 34px !important;
    padding: .375rem .75rem;
    margin-top: 1px;
    margin-bottom: 8px;
}

.sm-1{
  width: 80px;
  display: inline-block;
  font-size: 13px;
  height: 32px !important;
  padding: .375rem .75rem;
}


.registre{
  padding-top: 30px;
  padding-bottom: 30px;
}
.registre .form-group{
  margin-bottom: 0px;
}

.button_red{
  padding: 30px 10px !important;
  border-radius: 50%;
  font-weight: bold;
  font-family: volteR;
  margin: 10px 0px;
  transition: 0.5s;
  z-index: 10;
}

.fir_se{
border: 1px solid rgb(24, 52, 207) !important;
width: 120px;
border-radius: 50%;
text-align: center;
transition: 0.5s;
}

agm-map {
  height: 200px;
}

.margin0{
  margin: 0px;
  width: 25%;
  padding: 20px;


}
a {
  color: rgb(24, 52, 207);
  text-decoration: none;
  background-color: transparent;
}

.border-b{
  border-bottom: 0px !important;
}

input:checked .btn-primary  {
  background-color: rgb(24, 52, 207) !important;
}


.modal-open .modal {
   overflow-y: hidden;

  padding:0px !important;
}

.modal-open{
  overflow-y: visible;
  padding:0px !important;
}

#modal_ok h6{
  color: rgb(24, 52, 207);
  font-family: volteM;
  font-size: 22px;
}

#modal_ok p{
  color: rgb(24, 52, 207);
  font-family: volteR;
  font-size: 16.5px;
}

.item{
  /* background: #3f4dda; */
   padding:10px;
  border: solid #3f4dda .5px;
  color:  #3f4dda;
  font-family: volteR;
  font-size: 15px;
  font-weight: bold;
  transition: 0.2s

  }

.padding{
  padding: 0px;
}

.botom-border{
  border: solid blue 1px;
  text-align: center;
}

.border_s{
  border:1px solid rgb(24, 52, 207) !important;
  padding: 5px;

 }

 .border_s span{
  float: right;
  color: rgb(24, 52, 207) !important;


 }

 .margin_p{
   margin-top: 15px;
 }
 .margin_p_10{
  margin-top: 10px;
}

.maps-renta{
  bottom: 10px;
  position: absolute;
  transition: 0.3s;
}

 .item:hover{
  color:  white  !important;
  background-color:  #3f4dda  !important;
  cursor: pointer;
  transform: scale(1.05)
}

.item:hover  .border_s {
  border:1px solid white !important;
 }

 .item:hover  span{
  color:white !important;
 }


 .register_tab{
   border:  1px solid #3f4dda  !important;

 }
.pad{
  padding: 0 15% !important;
}
.bor-t{
  padding: 10px 0px !important;
}
.bodr{

  border: 1px solid rgb(24, 52, 207) !important;
}
.bord{

  border-radius: 0px !important;
  border: 1px solid rgb(24, 52, 207) !important;
  margin-top: 23px;
}

.bord .nav-link {
  border-radius: 0px !important;
  font-size: 14px;
  font-family: volteR;
}

.agregar span{
  font-family: volteM;
  color: rgb(24, 52, 207) !important;
  font-size: 14px;
  font-weight: 500;
}

.agregar a{
  font-family: volteM;
  color: white !important;;
  font-weight: bold;
  background-color: rgb(24, 52, 207) !important;
  border-radius: 50%;
  transition: 0.5s;
}

.agregar a:hover{
  color: white !important;
  background-color:rgb(24, 52, 207,0.9) !important;
  border:1px solid rgb(24, 52, 207) !important;
}

.bord .nav-link.active {
  border-radius: 0px !important;
  background-color: rgb(24, 52, 207) !important;
  font-weight: bold;
}

.dis-d{
 background-color:  rgb(24, 52, 207) !important;
 font-family: volteM;
 color: white !important;
 padding: 5px 10px;
 border-radius: 30px;
 font-size: 15px;
 cursor:pointer !important;
 transition: 0.5s;

}

.dis-d:hover{
  background-color:  rgb(24, 52, 207,0.8) !important;
  text-decoration: none;
 }
 


@media (min-width: 1px){
  .justify-content-md-center {
      justify-content: center!important;
  }
  }

@media (max-width: 621px) {
    .h6 {
        font-size: 11.5px !important;
        font-weight: bold;
    }
    .btn_prin {
        padding: 7px 10px;
        margin: 0px 10px;
    }
    .nav_lo {
        font-size: 12px !important;
    }
    .menu-li a {
        font-size: 12px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 350px;
    }
}

@media (max-width: 576px) {

    .foot_prin {
        text-align: center !important;
    }
    .foot_sec {
        text-align: center !important;
    }
    .text_r {
        text-align: center !important;
    }
    .text_footer p {
        font-size: 12px;
    }
    .text_footer_sec p {
        font-size: 12px;
    }
    .perfil_tab label {
        text-align: left !important;
    }
    .perfil_tab input {
        text-align: left;
    }
    .perfil_tab {
        padding: 30px 10px;
    }
}

@media (max-width: 867px) {
    .menu-li {
        padding: 10px 5px !important;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .text-publica h4 {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    nav .container {
        max-width: 960px !important;
    }
}

@media (min-width: 992px) {
    nav .container {
        max-width: 1020px !important;
    }


}
@media (max-width: 768px) {
  .datos_perfil .nav-link {
    font-size: 12px !important;
    padding-left: 5px !important;
    margin: 5px 0px !important;

    letter-spacing: 1px !important;
  }

  .datos_perfil .nav-link i {
  font-size: 13px !important;
  margin: 5px !important;
  }

}
@media (max-width: 992px) {
  .datos_perfil .nav-link {
    font-size: 13px !important;
    letter-spacing: 1px !important;
  }


}

@media (max-width: 575px) {
  .datos_perfil .nav-link {
   font-size: 14px !important;
   padding-left: 20px !important;
   margin: 5px 10px !important;
   letter-spacing: 1px !important;
  }

  .datos_perfil .nav-link i {
  font-size: 18px !important;
  margin-right: 20px !important;
  }

  .text-publica span{
    margin-top: 0px !important;
  }



.margin0 i{
 font-size: 30px !important;

}



 .style_toggle .btn-primary{
  font-size: 12px !important;
}




}


